<% include partials/header%>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
       Fitness Coaches
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <div id="team-section" class="lightgray-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="heading-section text-center animate-box">
              <h2>Meet Our Trainers</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          
          <% trainer.forEach(function(trainer){ %>

          <div class="col-md-4 col-sm-6">
            <div class="team-section-grid animate-box" style="background-image: url(<%= trainer.image %>);">
              <div class="overlay-section">
                <div class="desc">
                  <h3><%= trainer.firstname %> <%= trainer.lastname %></h3>
                  <span><%= trainer.service %></span>
                  <p><%= trainer.description %></p>
                  <p class="social-icons">
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>


          <% }); %>    

        </div>
      </div>
    </div>
  </section>


  
  <% include partials/footer%>
